li.side-entry-box
    input.side-multi-select(type='checkbox')
    input(type='radial')
    p !{name}
    p !{descrip}
    p.corpus-hidden-id !{datavar}
    input(type='dropdown')
    //TODO add stuff to manipulate owned corpora (currently only upload revisions)
