include layout

block content
    include basic-topbar
    div#front-wrapper
        div#front-center-wrapper
            div#front-msg1
                h1.front-h1 BATs Force: Code-switching Analysis
                br
                #front-page-spacer
                br
                h2.front-h2 Something catchy and meaningful here about what we do
                br
                a.front-button(href="/login")
                    p Start analyzing your corpora
                br
                p
                    a.front-link(href="http://code-switching.org") Visit our website!

