div#topbar
    a(href="/")
        div#logo-area
            div#logo-pic
                //Nonexistent
            div#logo-text
                h1 BATs Force
    div#slogan-area
        div#slogan-text
            h2 The Bilingual Annotation Tasks Force
    div#log-button-pair
        a#log-left-button(href="/login")
            p#log-left-button-text Login
        a#log-right-button(href="/signup")
            p#log-right-button-text Sign up